<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
    <link href='//fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
    <!--link rel="stylesheet" type="text/css" href="bower_components/slick.js/slick/slick.css"/-->
    <link rel="stylesheet" href="/css/app.css" />
    <!--<script src="/bower_components/modernizr/modernizr.js"></script>-->
    <script src="/js/modernizr.js"></script>
  </head>
  <body>
  	
  	<div class="row header">
      <div class="large-12 columns">
        <h1 class="text-center great-vibes">Private Marriage</h1>
      </div>
    </div>
    
    <div class="contain-to-grid">
    <nav class="top-bar" data-topbar>
	  <ul class="title-area">
          <li class="name">
              <!--<h1><a href="/">Private Marriage</a></h1>-->
          </li>
	     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
	    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	  </ul>
	
	  <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
          <li {% if page.url == '/' %}class="active"{% endif %}><a href="/">Introduction</a></li>
          <li {% if page.url == '/blog/' %}class="active"{% endif %}><a href="/blog/">Blog</a></li>
        </ul>

	    <!-- Right Nav Section -->
	    <ul class="right">
          <li class="has-dropdown {% if page.url == '/resources/' %}active{% endif %}">
	        <a href="/resources/">Resources</a>
	        <ul class="dropdown">
	          <li><a href="/resources/#articles">Articles</a></li>
	          <li><a href="/resources/#skepticism">Skepticism</a></li>
	        </ul>
	      </li>
	      <li class="has-dropdown {% if page.url == '/faqs/' %}active{% endif %}">
	        <a href="/faqs/">FAQs</a>
	        <ul class="dropdown">
	          <li><a href="/faqs/#What">What is private marriage?</a></li>
	        </ul>
	      </li>
	      <li class="has-form">
              <form action="/search/" method="get">
                <input id="search-query" name="q" type="text" placeholder="Search Site" autocomplete="off">
              </form>
            </li>
	    </ul>
	

	  </section>
	</nav>
	</div>
  	